*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* header*/
.header{
    background-color: #154734;
}
.header__container {
 

}
._container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}
.header__images{
    display: flex;
    align-items: center;
}
.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list {
    display: flex;
    
}
.header__list__item:not(:first-child){
    margin-left: 72px;
}
.header__list__item__link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*main*/

.red_line{
    background: #AA182C;
    width: 100%;
    height: 16px;
    margin: 0;
    border: none;
}

.main{
    position: relative;
}
.gradient{
    
    background: linear-gradient(180deg, #103724 72.4%, rgba(97, 121, 110, 0.595238) 85.94%, rgba(217, 217, 217, 0) 96.35%);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
.gradient img{
    width: 100%;
}
.statistics{
    top: -16px;
    position: relative;
    z-index: 11;
}
.statistics__container{
    background-color: #ffffff;
}
.statistics__{
    position: relative;
}
.statistics__block {
    position: absolute;
    width: 435px;
    top: 142px;
    left: 685px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics__block__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    line-height: 112px;
    color: #DEC9A2;
    margin-bottom: 90px;
}
.statistics__block__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: #154734;

    padding: 23px 52px 24px 51px;
    background: #DEC9A2;
    border: none;
    border-radius: 10px;
    transition: 0.1s;
}

.statistics__block__button:hover{
    background: #FFFFFF;
    border-radius: 50px;
    color: #DEC9A2;
}

.table__block_photo {
    position: relative;
    top: -120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.table__block__photo_strong_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #121212;
    margin-bottom: 30px;
}
.table__block__photo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #3D3D3D;
}
.table__block_table {
    display: flex;
    background: #E2E2E2;
    justify-content: space-between;
    padding: 45px 20px 71px 30px;
}
.table__block__info {

}
.info__list {
}
.info__list__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #121212;
}
.info__list__item span{
    font-weight: 300;
}
.command{
    padding-left: 50px;
    background: url(../img/main/icon_logo.png);
    background-repeat: no-repeat;
}
.info__list__item:not(:last-child){
    margin-bottom: 30px;
}
.table{
    width: 712px;
    height: 156px;

    
}
table,tr,td{
    border: none;
    border-collapse: collapse;
}
.table__head {
    background-color: #2C2C2C;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.table__now__year {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #121212;
    background-color: #fff;
}
.year {
    background: #DEC9A2;
}
.table__year {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #121212;
    background-color: #fff;
}
.nhl {
    background: #DEC9A2; 

}

/*bestmoments*/
.best_moments {
}
.best_moments__container {
}

.best_moments__text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #121212;
    margin-top: 40px;
    margin-bottom: 40px;
}
.best_moments__row {
    display: flex;
    justify-content: space-between;
}
.moment {

}













.bio_page {
}
.bio_page__container {
    position: relative;
    top: -16px;
    background-color: #fff;
}
._container {
}
.bio_page__text__block {
    padding: 5px;
    position: absolute;
    top: 150px;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #33333392;
}
.bio_page__block__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;

    color: #DEC9A2;
    margin-bottom: 40px;
}
.bio_page__list {

}
.bio_page__item {
    text-align: center;
}
.bio_page__item:not(:last-child){
    margin-bottom: 30px;
}
.bio_page__item button{
    border: none;
    background: transparent;
    cursor: pointer;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #DEC9A2;

    border-bottom: 2px solid #DEC9A2;
}

.bio__info__block {
    margin-top: 100px;
}
.bio__info__title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #121212;

    margin-bottom: 50px;
}
.block {
    display: flex;
    justify-content: space-between;
}
.block__img {
}
.block__img3{
    height: 338px;
}
.block_info__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #121212;
    width: 576px;
}


.matches__block{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches__container{
    position: relative;
    top: -17px;
    background-color: rgb(255, 255, 255)
}



.matches_table {
    
}
.matches_table:not(:last-child){
    margin-bottom: 30px;
}
.matches_table_head{
    background: #2C2C2C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    
}
.matches_table_head td{
    padding: 10px;

}
.matches_table_head_body td{
 background-color: #c0c0c0;
 color: #ffffff;
 text-align: center;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 padding: 3px;
}








/*footer*/
.footer{
    margin-top: 50px;
    padding: 10px 0;
    background-color: #154734;
}
.footer__container{
    display: flex;
    
}




